<%- include('header') -%>
    <main>
        <h2>COMMENTAIRES</h2>
        <section>
            <div>
                <p>N'hésite pas à nous laisser un commentaire, une expérience ou autre sur les différents itinéraires ou sur ton propre itinéraire à Bali ! Cela permettra aux autres voyageurs d'avoir d'autres retours !</p>
            </div>
            <div>
                <img src="../image/offrande.jpg" alt="photo des panier d'offrandes hindoues">
            </div>
        </section>
        <section>
            <form method="post">
                <div>
                    <label for="pseudo">Pseudo</label>
                    <input type="text" name="pseudo" id="pseudo" value="pseudo" placeholder="Ton Pseudo" required="required">
                </div>
                <div>
                    <label for="message">Ton commentaire</label>
                    <textarea id="message" name="message" rows="5" cols="33" minlength="10" placeholder="Ecris ici ton commentaire" required="required"></textarea>
                </div>
                <div>
                    <button type="submit">Envoyer</button>
                </div>
            </form>
        </section>
        <section>
           <a href="/login">Tu dois te connecter pour pouvoir ajouter un commentaire</a>
         <% for (commentaire of commentaires) { %>
      <ul>
        <li>
            <p>
            <%= commentaire.pseudo %> : 
            </p>
          <p>
            <%= commentaire.dateFormatee %>
            </p>
            <p>
            <%= commentaire.message %>
            </p>
        </li>
      </ul>
    <% } %>
        </section> 
    </main>
<%- include('footer') -%>
