<%- include('header') -%>
<main>
    <h2><%= itineraire.id %></h2>
    <a href="/itineraire/<%= itineraire.id %>/update">Modifier l'itinéraire</a>
    <a href="/itineraire/<%= itineraire.id %>/delete">Supprimer l'itinéraire</a>
</main>
<%- include('footer') -%>