<%- include('header') -%>
        <section class="itinerary_details">
        <h2  class="itinerary_title_1">
            <%= itineraire.titre_1 %>
        </h2>
        </div>
        <section class="details_img_1">
            <img src="/image/<%= itineraire.image_1 %>" alt="Photo de <%= itineraire.image_1 %>">
        </section>
        <section class="details_part_1">
            <h3>
                <%= itineraire.titre_2%>
            </h3>
            <p>
                <%= itineraire.texte_1%>
            </p>
            </section>
            
        <section class="details_img_2">
            <img src="/image/<%= itineraire.image_2 %>" alt="Photo de <%= itineraire.image_2 %>">
        </section>    
        <section "details_part_2">
            <h3>
                <%= itineraire.titre_3%>
            </h3>
            <p>
                <%= itineraire.texte_2 %>
            </p>
            </section>
      
        <section class="details_img_3">
            <img src="/image/<%= itineraire.image_3 %>" alt="Photo de <%= itineraire.image_3 %>">
        </section>
        <section class="details_part_3">
            <h3>
                <%= itineraire.titre_4%>
            </h3>
            <p>
                <%= itineraire.texte_3 %>
            </p>
            </section>
        <section class="details_plan">
            <h3>ITINERAIRE SUR PLAN</h3>
            <iframe src="<%= itineraire.plan %>"></iframe>
        </section>
        <a  class="redirection_link" href="/itineraires">Revenir à la liste des itinéraires</a>
        </section>
        
        
            <section>
        <h2>Newsletter</h2>
        
        <div class="button_container">
            <button id="open_pop_up">Cliquez ici</button>
        </div>
        <div id="js-pop-up-form">
            <form method="post" action="/itineraire/<%=itineraire.id%>/newsletter">
    <p>
        <label for="itineraire">Souhaites-tu t'inscrire à la Newsletter pour cet itinéraire ?</label>
        <input type="hidden" name="id_itineraire" value="<%=itineraire.id%>">
    </p>

    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" />
    </div>

    <button type="submit">Envoyer</button>
</form>
        </div>
        
    </section>     
    </main>
<%- include('footer') -%>


