<%- include('headerAdmin') -%>
        <% for(const Commentaire of Commentaires) { %>
            <ul>
                <li>
                    <p>
                        <%= Commentaire.pseudo %>
                    </p>
                      <p>
                        <%= Commentaire.message %>
                    </p>
                </li>
            </ul>
            <a href="/comment/<%= Commentaire.id %>/delete">Supprimer le commentaire</a>
            <% } %>

    </main>
<%- include('footer') -%>