<%- include('headerAdmin') -%>
    <section class="admin_user">
        <h2>USER</h2>
        <% for(const User of Users) { %>
            <ul>
                <li>
                    <p>
                        <%= User.pseudo %>
                    </p>
                    <p>
                        <%= User.email %>
                    </p>
                </li>
            </ul>
            <div class="action_buttons">
                <a class="admin_user_btn" href="/user/<%= User.id %>/delete">Supprimer l'utilisateur</a>
            </div>
            <% } %>
    </section>
</main>
<%- include('footer') -%>
