<%- include('headerAdmin') -%>
    <section class="update_form_container">
        <form class="updateItineraireForm" method="POST" action="/itineraire/<%= itineraire.id %>/update">
            <h2>Modification de l'itinéraire</h2>
            <div class="update_area">
                <label for="titre_1">Titre Principal</label>
                <input type="text" name="titre_1" id="titre_1" value="<%= itineraire.titre_1 %>">
            </div>
            <div class="update_area">
                <label for="titre_2">Titre texte 1</label>
                <input type="text" name="titre_2" id="titre_2" value="<%= itineraire.titre_2 %>">
            </div>
            <div class="update_area">
                <label for="texte_1">Texte 1</label>
                <textarea name="texte_1" id="texte_1" rows="10" cols="33">
                <%= itineraire.texte_1 %>
                    </textarea>
            </div>
            <div class="update_area">
                <label for="titre_3">Titre texte 2</label>
                <input type="text" name="titre_3" id="titre_3" value="<%= itineraire.titre_3 %>">
            </div>
            <div class="update_area">
                <label for="texte_2">Texte 2</label>
                <textarea name="texte_2" id="texte_2" rows="10" cols="33">
                <%= itineraire.texte_2 %>
                    </textarea>
            </div>
            <div class="update_area">
                <label for="titre_4">Titre texte 3</label>
                <input type="text" name="titre_4" id="titre_4" value="<%= itineraire.titre_4 %>">
            </div>
            <div class="update_area">
                <label for="texte_3">Texte 3</label>
                <textarea name="texte_3" id="texte_3" rows="10" cols="33">
                <%= itineraire.texte_3 %>
                    </textarea>
            </div>
            <div class="update_area">
                <label for="plan">Plan</label>
                <input type="text" name="plan" id="plan" value="<%= itineraire.plan%>">
            </div>
            <div>
                <button class="update_itinerary_btn" type="submit">Enregistrer</button>
            </div>
        </form>
    </section>
</main>
<%- include('footer') -%>
